# ignore the venv
venv/

# ignore the testing files
testing.csv
testing.jsonl

# ignore the output
eventscraper/output/

# default gitignore
/shelf/
/workspace.xml

# ignore the database
canooevents.db

# ignore the .idea folder
.idea/